*{
	font-family: 'importedCalibri', sans-serif;
}

html,body{
	height:100%;
	width: 100%;
	left: 0;
	margin: auto;
}

/*-----Navigation Menu-----*/

.navbar{
	border: none;
	background-color: rgba(0, 0, 0, .9);

}

.navbarscroll{
	position: fixed;
	top: 56px;
	z-index: -1;
	background-color: #191919;
	height: 100%;
	width: 100%;
}

.navbar #menu-title{
	font-size: 24px;
	font-weight: bold;
	color: white;
	padding-right: 40px;
}

.navbar-default .navbar-header .navbar-toggle{
	color: white !important;
}

.navbar-default .navbar-header .navbar-toggle:hover,
.navbar-default .navbar-header .navbar-toggle:focus{
	background-color: #DE483F;
	border-color: #DE483F;
}

.navbar-nav li a{
	font-size: 16px;
	color: #DE483F !important;
}

.dropdown-menu li a{
	color: white !important;
}

.dropdown-menu li a:hover{
	background-color: #DE483F !important;

}


@media(min-width: 768px){

	.navbarscroll{
		top: 50px;
	}

	.navbar-nav li a{
		font-size: 15px;
		color: #DE483F !important;
	}

	.navbar-nav li a:hover{
		color: white !important;
	}

	.dropdown-menu{
		background-color: rgba(255, 255, 255, .9);
		border: none;
		box-shadow: none;
		border-radius: 0px;
		padding: 0;
	}

	.dropdown-menu li a{
		color: black !important;
		padding: 10px 5px 10px 5px;
		margin: 0px !important;
	}


	#nav-dropdown-button {
		background-color: transparent !important;
	}

	.dropdown-toggle .active{
		color: white !important;
	}

	.dropdown-menu li a:hover{
		background-color: rgba(0,0,0,.7) !important;
	}
}

/*-----Riera Studio title on home page-----*/
.header{
	top: 10%;
	position: fixed;
	width: 100%;
	margin: auto;
	z-index: 2;
	text-align: center;
	cursor: pointer;
}

#title{
	color: black;
	font-weight: lighter;
	margin: auto;
	padding: 0pt;

	font-size: 48pt;
}

#subtitle {
	color: black;
	position: relative;
	bottom: 12pt;
	font-weight: lighter;
	margin-top: 0pt;
	text-align: center;
	font-size: 18pt;    
}

.title-move {
	position: absolute;
	left: 20px;
	top: 20px;
}

.subtitle-move{
	position: absolute !important;
	left: 24px;
	top: 80px;
}

.click {
	font-size: 40px;
	cursor: pointer;
	position: fixed;
	display: block;
	top: 80%;
	left: 50%;
	text-align: center;
	width: 50px;
	margin-left: -60px;
	z-index: 5;
	color: rgba(0,0,0, .2);
}

/*-----Menu on home page-----*/


@media(min-width: 768){

	#mainmenu{
		max-width: 560px;
		height: fill;
		left: 10%;
		position: fixed;
		z-index: 3;
		top: 30%;
		background: rgba(255,255,255, .8);
		cursor: default;
	}

	.header{
		display: block !important;
	}
	#mainmenu #menu-title{
		display: none;
	}
	#mainmenu .navbar-nav li a:hover{
			color: black !important;
	}

	#mainmenu .dropdown-menu li a:hover{
		color: white !important;
		background-color: rgba(0,0,0,.7) !important;
	}

}
/*Dropdown*/

#main-dropdown-content{
	font-weight: lighter;
}

#main-dropdown-content a{
	color: black;
	text-align: left;
	padding: 6px 6px 6px 6px;
	margin-top: 12px;
	text-decoration: none;
}

#main-dropdown-content a:hover{
	text-decoration: none;
	color: white;
	background-color: #DE483F;
}

#main-dropdown:hover{
	color: #DE483F;
}


/*-----Body Content-----*/
.bodycontent{
	position: static;
	top: 40px;
	background-color: white;
	min-height: 100%;	
	margin-bottom: -20px; //header height + footer - 6
}

.bodycontent:after{
	content: "";
	display: block;
}

footer, .bodycontent:after{
	height: 20px;
}


/*-----Standard Footer-----*/

footer{
	width: 100%;
	height: 50px;
	background-color: #191919;
	
}

footer ul{
	list-style-type: none;
	margin-left: 40px;
	margin-bottom: 0px;
	padding: 5px 0;


}

footer li {
	font-size: 12px;
	
	text-align: left;
	color: white;
	font-weight: lighter;
	margin-right: 15px;


}

@media(min-width: 786px){
	footer li{
		display: inline;
		text-align: center;
	}
}



/*-----p5.js Canvas-----*/
canvas{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0pt;
	left: 0pt;
	padding-left: 0pt;
	margin: none;
	z-index: 1;
	cursor: pointer;
}

/*-----Section Elements-----*/

.section{
	margin-top: 56px; //make room for navbar.
}

@media(min-width: 768px){
	.section{
		margin-top: 50px;
	}
}

.sectionmenu #backbutton a, .sectionmenu #backbutton{
	display: none;
}

.sectionmenu #backbutton {
	position: relative;
	bottom: 20px;
}


.sectionmenu a:not(#backbutton):hover:{
	color: white;
	background-color: #DE483F;
	border-color: #DE483F;
}

.sectiontext{
	margin: auto;
	width: 75%;
	
}


.sectiontitle, .sectionsubtitle{
	max-width: 600px;
	text-align: left;
	margin: auto;
}

.sectiontitle{
	font-weight: normal;
	font-size: 40px;
	color: #DE483F;
}

.sectionsubtitle{
	font-weight: bold;
	font-size: 22px;
	color: black;
}

.sectionbody{
	position: static;
	display: block;
	max-width: 600px;
	padding-bottom: 60px;
	text-align: left;
	margin: auto;
	font-weight: lighter;
}

.sectiontitle, .sectionsubtitle, .sectionbody{
	width: 90%;
}

.sectionartistpicture{
	background-color: #191919;
	width: 100%;
	max-height: 400px;
	margin-top: 40px;
	box-shadow: 0px 5px 5px rgba(0,0,0,.3);
	overflow: hidden;
}

.sectionartistpicture img{
	width: 60%;
	margin: auto;
	display: block;
	padding-top: 30px;
	padding-bottom: 10px;
}

#artistsectionbody ul{
	margin: auto;
	margin-left: -40px;
	margin-bottom: 0px;
	list-style-type: none;
}

#artistsectionbody li{
	margin-bottom: 10px;
}


.sectionmenu{
	margin: auto;
	margin-top: 40px;
	padding-right: 10px;
	vertical-align: top;
}


.sectionmenu ul{
	min-width: 200px;
	list-style-type: none;
	text-align: left;
	text-decoration: none;
	display: block;
}

.sectionmenu ul img{
	display: block;
	margin: auto;
}
.sectionmenu li{
	margin: auto;
	margin-bottom: 30px;
}
.sectionmenu a{
	text-align: center;
	text-decoration: none;
	color: #DE483F;
	font-size: 18px;
	margin-bottom: 20px;
	padding: 5px 10px 5px 10px;
}



@media(min-width: 888px){

	.sectiontitle, .sectionsubtitle, .sectionbody{
	width: 70%;
}

	.sectiontext{
	margin-top: 80px;
	display: inline-block;
	}
	
	.sectionmenu{
		left: 80px;
		margin-top: 150px;
		padding-right: 10px;
		display: inline-block;
		position: -webkit-sticky;
		position: sticky;
		top: 80px;
		width: 20%;
		height: fill;
		vertical-align: top;
		margin-left: 10px;
	}


	.sectionmenu ul{
		min-width: 200px;
		list-style-type: none;
		text-align: left;
		text-decoration: none;
		display: block;
	}

	.sectionmenu ul img{
		display: block;
		margin: auto;
	}
	.sectionmenu li{
		margin: auto;
		margin-bottom: 30px;
	}
	.sectionmenu a{
		text-align: center;
		text-decoration: none;
		color: #DE483F;
		font-size: 18px;
		margin-bottom: 20px;
		padding: 5px 10px 5px 10px;
	}


	.sectionmenu #backbutton a, .sectionmenu #backbutton{
		text-align: center;
		display: block;
		margin: auto;
		font-size: 18px;
		padding: 0px;
		max-width: 150px;
		margin-bottom: 0px;
	}

	#backbutton span {
		color: black;
	}
}
	/*Artist Table style*/ 

	.artisttable div{
		padding: 30px;
	}

	.artisttable div h4{
		font-weight: lighter;
		color: black;
	}
	
	.artisttable a:hover{
		text-decoration: none;
	}

	.artisttable a:hover h4{
		color: #DE483F;
	}

	.tablepicture, .tablepicturered{
		width: 100%;
		margin: 0;
		padding: 0;

	}


	.tablepicturered{
		position: relative;
		display:none;

	}

	.artisttable a:hover .tablepicture{
		display: none;
	}

	.artisttable a:hover .tablepicturered{
		display: inline;

	}

	.exhibitiontablepicture{
		height: 300px;
		box-shadow: 0px 5px 8px 0px inset;
  		background-repeat: no-repeat;

  		background-size: cover;

 		background-position: center;

		 -webkit-animation-duration: .7s;
	     animation-duration: .7s;
	     animation-timing-function: ease;
	      -webkit-animation-fill-mode: both;
	  		animation-fill-mode: both;
	}


	.exhibitiontablepicture:hover {
		
		//-webkit-animation-name: pushup;
	//	animation-name: pushup;
		-webkit-backface-visibility: visible !important;
	  	backface-visibility: visible !important;
	  	
	}

	.exhibitiontitle{
		height: 140px;
	}

	.exhibitiontitle h2{
		color: #DE483F;
		background-color: rgba(255,255,255, .85);
	}


	.exhibitiondate{
		font-size: 14px;
		font-weight: lighter;
	}


	/*-----About Page-----*/

	#aboutsectiontitle{
		margin-top: 40px;
	}


	/*-----Donations Page (/artbrut/donations) ------*/

	#donationsectionbody ul{
		margin: auto;
		margin-left: -40px;
		list-style-type: none;
	}

	#donationsectionbody li{
		margin-bottom: 5px;
	}

	/*-----Exhibition page-----*/


	#exhibitionsectionmenu ul{
		font-size: 20px;
	}

	#exhibitionsectionmenu li{
		font-size: 14px;
	}

	#exhibitionsectionmenu li a{
		text-decoration: none;
		color: black;
		font-size: 14px;
		padding: 0;
		margin: 0;

	}

	#exhibitionsectionmenu li a:hover{
		background: none;
		text-decoration: underline;
	}
	/*-----Press Release-----*/

	#presssectionbody, #presssectiontitle, #presssectionsubtitle{
		max-width: 70%;
	}

	#presssectionsubtitle{
		font-size: 16px;
		margin-bottom: 20px;
	}
	#presssection li{
		margin-bottom: 10px;
	}

	#presssection li a{
		text-decoration: none;
		color: black;
	}

	#presssection li a:hover{
		text-decoration: underline;
	}

	/*-----Contact Page-----*/

	#contactsectionbody ul{
		margin-left: -40px;
		list-style-type: none;
	}

	#contactsectionbody li{
		padding-left: 20px;
		padding-bottom: 20px;
		border-left: dotted 1px black;
		border-bottom: dotted 1px black;
		min-width: 200px;
		display: block;
		margin-bottom: 80px;
	}

	#contactsectionimage{
		width: 100px;
		height: 100px;
		border-radius: 50px;
		display: inline-block;
		vertical-align: top;
	}

	#contactsectionbodytext{
		display: inline-block;
		margin-left: 30px;
	}

	#contactsectionbodytitle{
		display: block;
		vertical-align: top;
		font-weight: bold;
		font-size: 24px;
	}

	#contactsectionbodysubtitle{
		font-weight: bold;
		display: block;
		margin-bottom: 10px;
	}

	#contactsectionbodyinfo{
		display: block;
		margin-top: 0px;
	}

/*--------Mobile------------*/

#mobileerrortext{
	width:100% !important;
}


.hide{
	display: none;
}

/*----Animations---*/
/*Designed by Daniel Eden. http://daneden.me/animate*/
@-webkit-keyframes flipIn{
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/*I did this one :) */
@-webkit-keyframes pushup{
	from{
		box-shadow: 0px 5px 8px 0px inset;
		background-size: auto 100%;
		-webkit-background-size: auto 100%;
 		-moz-background-size: auto 100%;
 		-o-background-size: auto 100%;
 		background-origin: center;
	}

	to {
		box-shadow: none;
		background-size: auto 102%;
		-webkit-background-size: auto 102%;
 		-moz-background-size: auto 102%;
 		-o-background-size: auto 102%;
 		 background-origin: center;

	}
}


@font-face{
	font-family: 'importedCalibri';
	src: url('calibri.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: 'importedCalibri';
	src: url('calibri-light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}

@font-face{
	font-family: 'importedCalibri';
	src: url('calibri-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


